 <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ bestMovie.key }}" allowfullscreen></iframe>
</div>
<div class="video-details">
    <h5>{{ bestMovie.name }}</h5>
    <p>{{ bestMovie.type }}</p>
</div>